<!-- BANNER SECTION -->
<div class="banner">
  <div class="width-container">
    <div class="banner-box">
      <div class="width-row">
        <div class="banner-content">
          <div class="banner-vector"><img src="{{section.settings.banner_png_img | image_url }}" alt=""></div>
          <h1 class="heading-h1">{{section.settings.banner_heading}}</h1>
          <p class="banner-p">{{section.settings.Paragraph_text}}</p>
          <button class="banner-button"><a href="{{section.settings.button_link}}" class="button-a">{{section.settings.button_text}}</a></button>
          <div class="button-arrow">
            <a href="#" class="Button-arrow"><i class="fa-solid fa-arrow-down arrow"></i></a>
          </div> 
        </div>
        <img src="{{section.settings.banner_img | image_url}}" class="banner-img" alt="">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bannarbackimg",
      "label": "Select Background img"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Select Banner img"
    },
    {
      "type": "image_picker",
      "id": "banner_png_img",
      "label": "Select png img"
    },
    {
      "type": "richtext",
      "id": "banner_heading",
      "label": "Add main heading"
    },
    {
      "type": "text",
      "id": "Paragraph_text",
      "label": "Add Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Add button text"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button backgroud color"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Add button link"
    }

  ],
  "presets": [
    {
      "name": "custom-banner"
    }
  ]
}
{% endschema %}

<style>
          /* BANNER SECTION  */
          .width-container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 15px;
  }
  .banner{
      background-image: url({{section.settings.bannarbackimg |  image_url }});
      max-width: 100%;
      /* height: 100vh; */
      position: relative;
      z-index: 1;
      overflow: hidden;
  }
  .banner::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f0f0f0dc;
      z-index: -1;
  }
  .banner .banner-box{
      z-index: 9;
  }
  .banner .width-66{
      width: 66%;
      /* padding: 12px ; */
  }
  .banner .banner-box .width-row{
      display: flex;
      align-items: center;
      justify-content: left;
  }
  .banner .banner-box .banner-content {
      width: 66%;
      padding:100px 0;
      z-index: 9;
  }
  .banner .banner-box .banner-content .heading-h1{
      font-size: 110px;
      font-family: 'Vindea';
      font-weight: 400;
  }
  .banner .banner-box .banner-content .banner-p{
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      font-family: 'Montserrat Alternates';
      width: 60%;
      color: #777777;
      margin: 40px 0;
  }
  .banner .banner-box .banner-content .banner-button{
       font-size: 24px;
       font-family: 'Montserrat Alternates';
       background-color: #B69D62;
       padding: 10px 15px;
      border: none;
      margin-bottom: 30px;
      margin-top: 40px;
  }
  .banner .banner-box .banner-content .button-a{
       text-decoration: none;
       color: #ffffff;
       font-size: 24px;
       font-family: 'Montserrat Alternates' ;
       font-weight: 500px;
  }
  .banner .banner-box .banner-content .button-arrow{
       width: 50px;
       height: 80px;
       background-color: #282828;
       border-radius: 100px;
       text-align: center;
       line-height: 80px;
       margin-top: 30px;
  }
  .banner .banner-box .banner-content .button-arrow .arrow{
       font-size: 20px;
       border: 3px solid #ECE9EB;
       padding: 15px 5px;
       border-radius: 20px;
       color: #ECE9EB;
  }

  .banner .banner-img {
      max-width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: bottom;
      z-index: 1;
      top: 0;
      right: -5%;
  }
 

  @media  (max-width:768px) {
    .banner .banner-img {
        height: auto;
  }
  }
  @media  (max-width:1024px) {
    .banner .banner-img {
        
        right: -25%;
  }
  }
</style>
