<div class="main_footer">
  <div class="main_footer1">
    <div class="footer_content1">
      <img src="{{ section.settings.content1_image |  img_url: 'master' }}" alt="">
      <p>{{ section.settings.footer_paragraph }}</p>
    </div>
    <div class="footer_content2">
      <p>{{ section.settings.ul_heading }}</p>
      <ul>
        <li>{{ section.settings.li_menu1 }}</li>
        <li>{{ section.settings.li_menu2 }}</li>
        <li>{{ section.settings.li_menu3 }}</li>
        <li>{{ section.settings.li_menu4 }}</li>
        <li>{{ section.settings.li_menu5 }}</li>
        <li>{{ section.settings.li_menu6 }}</li>
      </ul>
    </div>
    <div class="footer_content3">
      <p>{{ section.settings.ul_heading_2 }}</p>
      <ul>
        <li>{{ section.settings.li_content1 }}</li>
        <li>{{ section.settings.li_content2 }}</li>
        <li>{{ section.settings.li_content3 }}</li>
        <li>{{ section.settings.li_content4 }}</li>
        <li>{{ section.settings.li_content5 }}</li>
        <li>{{ section.settings.li_content6 }}</li>
      </ul>
    </div>
    <div class="footer_content4">
      <div class="content4_paragraph">
        <p>{{ section.settings.contact }}</p>
      </div>
      <div class="content4_location">
        <img src="{{ section.settings.location_img |  img_url: 'master' }}" alt="">
        <p>{{ section.settings.address }}</p>
      </div>
      <div class="content4_address">
        <img src="{{ section.settings.Email |  img_url: 'master' }}" alt="">
        <p>{{ section.settings.Email_id }}</p>
      </div>
      <div class="content4_image">
        <img src="{{ section.settings.facebook |  img_url: 'master' }}" alt="">
        <img src="{{ section.settings.twitter |  img_url: 'master' }}" alt="">
        <img src="{{ section.settings.youtube |  img_url: 'master' }}" alt="">
        <img src="{{ section.settings.linkedin |  img_url: 'master' }}" alt="">
        <img src="{{ section.settings.instagram |  img_url: 'master' }}" alt="">
      </div>
    </div>
  </div>
  <div class="footer_line">
    <p>{{ section.settings.footer_line }}</p>
  </div>
</div>


{%- schema -%}

  {
    "name": "Footer_botton",
    "settings": [
      {
        "type": "image_picker",
        "id": "content1_image",
        "label": "footer_logo"
      },
      {
        "type": "text",
        "id": "footer_paragraph",
        "label": "footer_paragraph"
      },
      {
        "type": "text",
        "id": "ul_heading",
        "label": "ul_heading"
      },
      {
        "type": "text",
        "id": "li_menu1",
        "label": "li_menu1"
      }, {
        "type": "text",
        "id": "li_menu2",
        "label": "li_menu2"
      }, {
        "type": "text",
        "id": "li_menu3",
        "label": "li_menu3"
      }, {
        "type": "text",
        "id": "li_menu4",
        "label": "li_menu4"
      }, {
        "type": "text",
        "id": "li_menu5",
        "label": "li_menu5"
      }, {
        "type": "text",
        "id": "li_menu6",
        "label": "li_menu6"
      }, {
        "type": "text",
        "id": "ul_heading_2",
        "label": "ul_heading_2"
      }, {
        "type": "text",
        "id": "li_content1",
        "label": "li_content1"
      }, {
        "type": "text",
        "id": "li_content2",
        "label": "li_content2"
      }, {
        "type": "text",
        "id": "li_content3",
        "label": "li_content3"
      }, {
        "type": "text",
        "id": "li_content4",
        "label": "li_content4"
      }, {
        "type": "text",
        "id": "li_content5",
        "label": "li_content5"
      }, {
        "type": "text",
        "id": "li_content6",
        "label": "li_content6"
      }, {
        "type": "text",
        "id": "contact",
        "label": "contact"
      }, {
        "type": "image_picker",
        "id": "location_img",
        "label": "location_img"
      }, {
        "type": "text",
        "id": "address",
        "label": "address"
      }, {
        "type": "image_picker",
        "id": "Email",
        "label": "Email_logo"
      }, {
        "type": "text",
        "id": "Email_id",
        "label": "Email-id"
      }, {
        "type": "image_picker",
        "id": "facebook",
        "label": "facebook_logo"
      }, {
        "type": "image_picker",
        "id": "twitter",
        "label": "twitter_logo"
      }, {
        "type": "image_picker",
        "id": "youtube",
        "label": "youtube_logo"
      }, {
        "type": "image_picker",
        "id": "linkedin",
        "label": "linkedin_logo"
      }, {
        "type": "image_picker",
        "id": "instagram",
        "label": "instagram_logo"
      }, {
        "type": "text",
        "id": "footer_line",
        "label": "footer_line"
      }
    ],
    "presets": [
      {
        "name": "Footer_botton"
      }
    ]
  }
{% endschema %}


<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat + Alternates:ital, wght@0, 100;0, 200;0, 300;0, 400;0, 500;0, 600;0, 700;0, 800;0, 900;1, 100;1, 200;1, 300;1, 400;1, 500;1, 600;1, 700;1, 800;1, 900 &display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  .main_footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 60px;
    padding-bottom: 20px;
    background: #EDE9EB;
  }

  .main_footer1 {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #bbb6b6;
  }

  .footer_content1 {
    width: 336px;
    margin-right: 40px;
  }

  .footer_content1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .footer_content1 p {
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    line-height: 21.94px;
    text-align: left;
    color: #282828;


  }

  .footer_content2 p {
    font-size: 25px;
  }
  .footer_content2 ul li {
    list-style: none;
    font-family: Montserrat Alternates;
    font-weight: 500;
    padding: 2px 0;
  }


  .footer_content3 p {
    font-size: 25px;
  }
  .footer_content3 ul li {
    list-style: none;
    font-family: Montserrat Alternates;
    font-weight: 500;
    padding: 2px 0;
  }

  .footer_content4 {

    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .footer_content4 p {
    font-size: 25px;
  }

  .content4_location {
    display: flex;
    text-align: left;
    align-items: flex-start;

  }

  .content4_location img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .content4_location p {
    font-size: 15px;
    font-family: Montserrat Alternates;

  }

  .content4_address {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 5px;

  }

  .content4_address img {
    width: 23px;
    height: 23px;

    margin-right: 10px;
  }

  .content4_address p {
    font-size: 15px;
    font-family: Montserrat Alternates;
  }
  .content4_paragraph {
    margin-bottom: 25px;
  }

  .content4_image {
    display: flex;
    align-items: center;
    width: 25%;
    gap: 18px;
  }
  .content4_image img {
    width: 23px;

  }
  .footer_line p {
    color: black;
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-weight: 500;
  }

</style>