<div class="content_main">
  <div class="content_main2">
    <div class="paragraph_section">
      <div class="para_content_1">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.paragraph }}</p>
        <button>{{ section.settings.button_name }}</button>
      </div>
    </div>
    <div class="image_section">
      <div class="image1">
        <img src="{{ section.settings.image1 |  img_url: 'master' }}" alt="">
      </div>
      <div class="image2">
        <h1>{{ section.settings.image_head }}</h1>
        <img src="{{ section.settings.image2 |  img_url: 'master' }}" alt="">
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "Etsycom",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "header"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "paragraph"
      },
      {
        "type": "text",
        "id": "button_name",
        "label": "button_name"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "image1"
      }, {
        "type": "text",
        "id": "image_head",
        "label": "image_head"
      }, {
        "type": "image_picker",
        "id": "image2",
        "label": "image2"
      }
    ],
    "presets": [
      {
        "name": "Etsycom"
      }
    ]
  }
{% endschema %}

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .content_main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
  }

  .content_main2 {
    width: 1440px;
    height: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .paragraph_section {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .para_content_1 h1 {
    font-family: 'Vindea';
    font-size: 70px;
    font-weight: 400;
    line-height: 140px;
    text-align: left;
    text-decoration: underline;
  }

  .para_content_1 p {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
  }

  .para_content_1 button {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    background-color: #282828;
    color: white;
    text-align: center;
    border: none;
  }

  .image_section {
    width: 500px;
    height: 400px;
    position: relative;
  }

  .image1 {
    position: absolute;
    left: 45px;
    top: 0;
    width: 270px;
    height: 365px;
  }

  .image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 175px;
    height: 240px;
  }
  .image2 h1 {
    font-size: 28px;
    font-family: 'Vindea';
    font-weight: 500;
    color: #262626;
  }
  .image2 img {
    width: 100%;
    height: 100%;
  }


  @media only screen and (max-width: 1024px) {
    .content_main2 {
      display: flex;

    }
    .paragraph_section {
      width: 100%;
    }
    .image_section {
      width: 460px;
      margin-top: 20px;
    }

    .image1 {
      left: 0;

    }

    .para_content_1 p {
      font-size: 14px;
    }
  }


  @media only screen and (max-width: 800px) {
    .content_main2 {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 490px) {

    .content_main {
      padding: 100px 30px;
    }

    .content_main2 {
      display: flex;
      flex-direction: column;
    }

    .image_section {
      width: 300px;
      height: 300px;

    }

    .image1 {
      width: 230px;
      height: 335px;
    }

    .image1 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image2 {
      width: 145px;
      height: 230px;
      position: absolute;
      top: 150px;
    }
    .image2 h1 {
      font-size: 18px;
      font-family: 'Vindea';
      font-weight: 500;
      color: #262626;
    }
    .image2 img {
      width: 100%;
      height: 100%;
    }


  }
</style>