<div class="main_collection">
  <div class="collection">
    <div class="collection_head">
      <h1>{{ section.settings.collection_head }}</h1>
      <p>{{ section.settings.collection_paragraph }}</p>
    </div>

    <div class="swiper mySwipercollection">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="collection_box">
              <div class="content_box">
                <div class="box_image">
                  <div class="sale">
                    <p>sale</p>
                    <i class="fa-sharp fa-regular fa-heart fa-xl" style="color: #000000;"></i>
                  </div>
                  {% if block.settings.collection_image != blank %}
                    <img src="{{ block.settings.collection_image |  img_url: 'master' }}" alt="">
                  {% endif %}
                </div>
                <div class="box_paragraph">
                  <p>{{ block.settings.product_name }}</p>
                  <h6>
                    <span>{{ block.settings.span_price }}</span>
                    {{ block.settings.price }}</h6>
                  <form method="post" action="/cart/add">
                    <a href="{{ block.settings.collection_url_1 }}">
                      <button>{{ block.settings.btn_name }}</button>
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="collection_btn">
      <button>{{ section.settings.collection_btn }}</button>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "collection",
    "settings": [
      {
        "type": "text",
        "id": "collection_head",
        "label": "collection_head"
      }, {
        "type": "text",
        "id": "collection_paragraph",
        "label": "collection_paragraph"
      }, {
        "type": "text",
        "id": "collection_btn",
        "label": "collection_btn"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "collection_image"
          },
          {
            "type": "text",
            "id": "product_name",
            "label": "product_name"
          },
          {
            "type": "text",
            "id": "span_price",
            "label": "MRP"
          },
          {
            "type": "text",
            "id": "price",
            "label": "discount"
          }, {
            "type": "text",
            "id": "btn_name",
            "label": "add_to_cart"
          }, {
            "type": "url",
            "id": "collection_url_1",
            "label": "add to collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "collection"
      }
    ]
  }
{% endschema %}
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .main_collection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
  }

  .collection {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .collection_head {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .collection_head h1 {
    font-family: 'Vindea';
    font-size: 78px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
  }

  .collection_head p {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 26.07px;
    text-align: center;
  }

  .collection_box {
    width: 355px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F9F9F9;
    gap: 10px;
  }
  .content_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  }

  .box_image {
    width: 335px;
    height: 280px;
  }
  .box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sale {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 10;
  }
  .sale p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #282828;
    padding: 0 11px;
    border-radius: 50px;
    background-color: #ffffff7d;
  }
  .sale i {
    position: absolute;
    cursor: pointer;
    top: 9px;
    border-radius: 50px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
    padding: 10px;
    background-color: #F9F9F9;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collection_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

  }
  .collection_btn button {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    background-color: #F9F9F9;
    color: #282828;
  }
  .collection_btn button:hover {
    background-color: #282828;
    color: #F9F9F9;
  }


  .box_paragraph {
    gap: 5px;
  }

  .box_paragraph p {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box_paragraph h6 {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin: 13px 0;
  }

  .box_paragraph span {
    color: gray;
    text-decoration: line-through;
    margin-right: 8px;
  }
  .box_paragraph button {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    padding: 5px 45px;
    background-color: #F9F9F9;
    color: #282828;
  }
  .box_paragraph button:hover {
    background-color: #282828;
    color: #F9F9F9;
  }

  @media (max-width: 400px) {

    .collection_box {
      width: 305px;
    }

    .box_image {
      width: 285px;
      height: 280px;
    }
  }
</style>

<script>
    var swiper = new Swiper(".mySwipercollection", {
    slidesPerView: 4,
    loop:true,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints :{
      0:{
        slidesPerView: 1,
        spaceBetween: 30,
      },
      750:{
        slidesPerView: 2,
        spaceBetween: 30,
      },
      900:{
        slidesPerView: 2,
        spaceBetween: 30,
      },
  
      1100:{
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1200:{
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1400:{
        slidesPerView: 4,
        spaceBetween: 30,
      },
      1560:{
        slidesPerView: 4,
        spaceBetween: 30,
      },
    }
  });
</script>