
<div class="main_collection">
  <div class="collection">
    <div class="collection_head width-container">
      <h1>{{ section.settings.collection_head }}</h1>
      <p>{{ section.settings.collection_paragraph }}</p>
    </div>

    <div class="swiper mySwipercollection">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- if block.settings.product != blank -%}
            {%- assign product = all_products[block.settings.product] -%}
  
              <div class="swiper-slide">
                <div class="collection_box">
                  <div class="content_box">
                    <div class="box_image">
                      <div class="sale">
                        <p>sale</p>
                        <div class="wishlist-visibility hover_button tc pa flex column ts__03">
                          {%- assign tooltip = "ttip_nt tooltip_left" -%}
                          {%- capture url_last -%}{{product.url | split:'/products/' | first}}{% if collection %}/collections/{{collection.handle}}{% endif %}/products/{{product.handle}}{%- endcapture -%}

                          {%- render 'nt_add_w',product:product,tooltip:tooltip,url_last:url_last -%}
                          {%- render 'nt_add_qvcp',product:product,tooltip:tooltip,pr_id:pr_id,url_last:url_last -%}
                        </div>
                      </div>
                      {% if block.settings.collection_image != blank %}
                        <a href="{{ product.url }}"><img src="{{ block.settings.collection_image |  img_url: 'master' }}" alt=""></a>
                      {% endif %}
                    </div>
                    <div class="box_paragraph">
                      <p>{{ product.title | escape }}</p>
                      <h6>
                        <span class="line-through">{{ product.price_min | money }}</span>
                        {{ product.price_max | money  }}
                      </h6>
                      <form
                        action="/cart/add"
                        method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <input min="1" type="number" id="quantity" name="quantity" value="1" class="hide" />
                        <button type="submit" class="addtocartbutton">Add to cart</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          {%- endif -%}
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="collection_btn">
      <a href="{{ section.settings.collectionurl }}"><button>{{ section.settings.collection_btn }}</button></a>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "collection",
    "settings": [
      {
        "type": "text",
        "id": "collection_head",
        "label": "collection_head"
      }, {
        "type": "text",
        "id": "collection_paragraph",
        "label": "collection_paragraph"
      }, {
        "type": "text",
        "id": "collection_btn",
        "label": "collection_btn"
      },{
        "type": "url",
        "id":"collectionurl",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "collection_image"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Choose product"
         }
        ]
      }
    ],
    "presets": [
      {
        "name": "collection"
      }
    ]
  }
{% endschema %}
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .main_collection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
  }

  .collection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .collection_head {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .collection_head h1 {
    font-family: 'Vindea';
    font-size: 78px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
  }

  .collection_head p {
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
  }

  .collection_box {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F9F9F9;
    gap: 10px;
  }
  .content_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  }


  .box_image {
    width: 100%;
    /* height: 280px; */
  }
  .box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sale {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 10;
  }
  .sale p {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #282828;
    padding: 0 11px;
    border-radius: 50px;
    background-color: #ffffff7d;
  }
  .sale i {
    /* position: absolute;
    cursor: pointer;
    top: 9px;
    border-radius: 50px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
    padding: 10px;
    background-color: #F9F9F9;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: currentcolor;
    border-radius: 50px;
    z-index: 10; 
  }

  .collection_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

  }
  .collection_btn button {
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    background-color: #F9F9F9;
    color: #282828;
  }
  .collection_btn button:hover {
    background-color: #282828;
    color: #F9F9F9;
  }


  .box_paragraph {
    gap: 5px;
  }

  .box_paragraph p {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .box_paragraph h6 {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    margin: 13px 0;
  }

  .box_paragraph .line-through {
    text-decoration: line-through;
    color: gray;
    margin-right: 8px;
  }

  .box_paragraph button {
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    padding: 5px 45px;
    background-color: #F9F9F9;
    color: #282828;
  }
  .box_paragraph button:hover {
    background-color: #282828;
    color: #F9F9F9;
  }
  .addtocartbutton{
    width:100%;
  }
  .wishlist-visibility{
    opacity: 1;
    visibility: visible;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px;
    font-weight: 700;
  }
  .swiper-button-next, .swiper-button-prev{
    color: #3F2E3E;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .hover_button .nt_add_w,.box_image .hover_button .nt_add_w>a{
     border-radius: 50% !important;
  }
  @media (max-width: 576px) {
    .collection_head h1 {
      font-size: 40px;
      line-height: 60px;
    }
  }
  @media (max-width: 400px) {
    .collection_head h1 {
      font-size: 30px;
    }
    .collection_head p{
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media (max-width: 400px) {

    /* .collection_box {
      width: 305px;
    }

    .box_image {
      width: 285px;
      height: 280px;
    } */
  }
</style>

<script>
    var swiper = new Swiper(".mySwipercollection", {
    slidesPerView: 4.5,
    loop:true,
    spaceBetween: 20,
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints :{
      0:{
        slidesPerView: 1,
      },
      750:{
        slidesPerView: 2,
      },
      900:{
        slidesPerView: 2,
      },
  
      1100:{
        slidesPerView: 2,
      },
      1200:{
        slidesPerView: 3,
      },
      1400:{
        slidesPerView: 4,
      },
      1560:{
        slidesPerView: 4.5,
      },
    }
  });
</script>